{% extends "insfiles/base.html" %}
{% block head %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}No Results{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<style type="text/css">
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	</style>
	{% block app.css %}{% endblock %}
</head>
{% endblock head %}
{% block content %}
<p class="alert alert-info">I'm sorry, but there doesn't appear to be anything here. If you are looking for something specific, try returning to the home page.</p>
{% endblock %}